.container {
    min-height:100%;
    position:relative;
    margin: 1rem;
}

.body {
    padding: 10px 10px 50px;
    background-color: #fffaf2;
}
.footer {
    position: relative;
    bottom:0;
    width:100%;
    background: #202627;
}

.header {
    margin-top: 50px;
}

#jumbotron {
    background-color: #fffaf2;
}