<div class="ui stacked segment">
    <div class="content">
        <h1 class="ui blue header">{{blogPost.title}}</h1>
        <div class="meta">
            <a class="ui ribbon green label">Date: {{blogPost.date}}</a>
            <span>{{blogPost.short}}</span>
        </div>
        <div class="description">
            <p> {{processHtml blogPost.full}} </p>
        </div>
    </div>
</div>