<h1 class="ui header">
    <i class="edit icon"></i>

    <div class="content">
        BlogPosts
    </div>
</h1>
<div class="ui large feed">
    {{#each blogPosts}}
        {{> blogfeed this}}
    {{/each}}
</div>