<h2 class="ui center aligned header">
    Blogposts
    <div class="sub header">
        All recent blog posts and tutorials
    </div>
</h2>
<div class="ui large feed">
    {{#each blogPosts}}
        {{> blogfeed this}}
    {{/each}}
</div>