<div class="ui center aligned header">
    Javascript and Android Developer
    <div class="sub header">
        I work as a software developer for the BBC, working on Node.js server applications, cross platform analytics API's and mobile applications. 
        <p>I am currently working on the iPlayer Radio mobile app for iOS and Android.</p>
        <p> I am available for freelance work if you would like to contact
        me.</p>
    </div>
</div>
<div class="ui two column page grid">
    <div class="column">
        <div class="ui basic horizontal segment">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <h2 class="ui center aligned icon header">
                            <i class="code green icon"></i>
                            Technologies
                        </h2>

                        <div class="description">
                            <p>Web and Mobile developer specialising Javascript and mobile application development. 
                                I use build tools such as Gulp
                                to ensure efficient workflow and constantly look at ways to
                                improve code organisation and structure
                                to make software easily maintainable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui basic horizontal segment">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <h2 class="ui center aligned icon header">
                            <i class="cube blue icon"></i>
                            TDD
                        </h2>

                        <div class="description">
                            <p>Whether I am working on personal or professional projects,
                                I always follow Test Driven Development and
                                Behaviour Driven Development best practices
                                to ensure high quality modular code.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui two column page grid">
    <div class="column">
        <div class="ui basic horizontal segment">

            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <h2 class="ui center aligned icon header">
                            <i class="rocket red icon"></i>
                            Continuous Delivery
                        </h2>

                        <div class="description">
                            <p> In both professional and personal projects I use tools like
                                GitHub, Cloud providers and CI, to push regular
                                deployments to environments, allowing rapid
                                implementation of features and bug fixes to end users.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui basic horizontal segment">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <h2 class="ui center aligned icon header">
                            <i class="lab orange icon"></i>
                            Learning
                        </h2>

                        <div class="description">
                            <p>As a passionate developer I love to keep up to date with the latest industry standards
                                and technologies. I spend a lot of time working on personal prototypes and
                                projects to keep my skills up to date in order to continue to adapt and improve.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>