<h2 class="ui center aligned header">
    Projects
    <div class="sub header">
       List of personal projects and packages
    </div>
</h2>
<div class="ui divided items">
    {{#each projects}}
        {{> projectItem this}}
    {{/each}}
</div>