<h2 class="ui center aligned header">
    Playground Projects
    <div class="sub header">
       Just a little list of playground projects. When I get chance I will get some bigger things on here.
    </div>
</h2>
<div class="ui divided items">
    {{#each projects}}
        {{> projectItem this}}
    {{/each}}
</div>