<div class="container">
    <div class="ui inverted segment">

        <a href="https://github.com/Daveloper87">
            <i class="github big icon"></i>
        </a>
        <a>
            <i class="alternate linkedin big icon"></i>
        </a>

        <p></p>
    </div>
</div>
