<div id="header" class="ui header vertical green segment">
    <div class="ui secondary menu">
        <a class="item" href="/">
            <i class="terminal icon"></i> Me
        </a>
        <a class="item" href="/projects">
            <i class="lab icon"></i> Projects
        </a>
        <a class="item" href="/blog">
            <i class="code icon"></i> Blog
        </a>
        <a class="right item">
            <i class="github large icon"></i>
        </a>
        <a class="right item">
            <i class="linkedin large icon"></i>
        </a>
    </div>
</div>
