<div class="ui horizontal segment">
    <div id="header" class="ui menu">
        <a class="item" href="/">
            <i class="terminal big icon"></i> Me
        </a>
        <a class="item" href="/projects">
            <i class="lab blue big icon"></i> Projects
        </a>
        <a class="item" href="/blog">
            <i class="code green big icon"></i> Blog
        </a>

        <div class="right menu">
            <a class="item" href="https://github.com/Daveloper87">
                <i class="github big icon"></i>
            </a>
            <a class="item">
                <i class="alternate linkedin big icon"></i>
            </a>
        </div>

    </div>
</div>
