<div class="container">
    <div class="ui segment">
        <div class="ui secondary menu">
            <a class="item" href="/">
                <i class="terminal big icon"></i> Me
            </a>
            <a class="item" href="/projects">
                <i class="lab blue big icon"></i> Projects
            </a>
            <a class="item" href="/blog">
                <i class="code green big icon"></i> Blog
            </a>
        </div>
    </div>
</div>