<div class="ui vertical segment">
    <div id="header" class="ui fixed main menu">
        <div class="ui secondary menu">
            <a class="item" href="/">
                <i class="terminal big icon"></i> Me
            </a>
            <a class="item" href="/projects">
                <i class="lab big blue icon"></i> Projects
            </a>
            <a class="item" href="/blog">
                <i class="code big green icon"></i> Blog
            </a>
            <a class="right item" href="https://github.com/Daveloper87">
                <i class="github big icon"></i>
            </a>
            <a class="right item">
                <i class="linkedin big icon"></i>
            </a>
        </div>
    </div>
</div>
