<div class="header">
    <div id="jumbotron" class="ui center aligned segment">
        <div class="ui header huge">
            <i class="terminal huge icon"></i>
            Dai Williams
        </div>
        <div class="ui move up reveal">
            <img class="visible content" src="/img/pixel_me.gif">
            <img class="hidden content" src="/img/404_me.gif">
        </div>
        <div class="container">
            <a href="/">
                <i class="idea huge icon">
                </i>
            </a>
            <a href="/projects">
                <i class="lab huge icon"></i>
            </a>
            <a href="/blog">
                <i class="edit huge icon"></i>
            </a>
        </div>
        <div class="container">
            <a href="https://github.com/Daveloper87">
                <i class="github circular inverted icon"></i>
            </a>
            <a href="http://uk.linkedin.com/pub/david-williams/62/a1b/92a/en">
                <i class="linkedin circular blue inverted icon"></i>
            </a>
        </div>
    </div>
</div>

