<div id="jumbotron" class="ui center aligned segment">
    <div class="ui header huge" style="color: #fff">{{title}}</div>
    <div class="ui move up reveal">
        <img class="visible content" src="/img/pixel_me.gif">
        <img class="hidden content" src="/img/404_me.gif">
    </div>
    <div>
        <div class="ui header" style="color: #fff">Node and Android Developer</div>
    </div>

</div>