<div class="ui divided items">

    <!-- TODO: THIS NEEDS TO BE BUILT BY RENDERED DATA -->

    <div class="item">
        <div class="image">
            <img src="/img/404_me.gif">
        </div>
        <div class="content">
            <a href="">
                <h1 href="" class="ui blue header">Project Name</h1>
            </a>

            <div class="meta">
                <span>Project meta description</span>
            </div>
            <div class="description">
                <p> Project description </p>
            </div>
            <div class="extra">
                <!-- todo: for each loop on labels from data -->
                <div class="ui green label">Android</div>
                <div class="ui label">Proguard</div>
                <div class="ui label">Splunk MINT Analytics</div>
                <div class="ui label">Gradle</div>
                <a href="https://play.google.com/store/apps/details?id=com.dw.pictorytest.app"
                   class="ui right floated blue button">
                    Download
                </a>
            </div>
        </div>
    </div>

</div>
